process.executor = 'awsbatch'

aws.region = 'us-west-2'
aws.batch.cliPath = '/usr/local/bin/aws'
aws.batch.jobRole = 'ecsInstanceRole'       // adjust
aws.batch.queue   = 'rna-seq-queue'         // adjust to your Batch job queue

docker.enabled = true
singularity.enabled = false

// Use S3 for work & outdir
workDir       = 's3://YOUR-BUCKET/work'     // adjust
params.outdir = params.outdir ?: 's3://YOUR-BUCKET/results' // adjust

// Suggested: enable Fusion v2 for fewer downloads
fusion {
  enabled = true
}
