/* load base config file - this file include global parameters */
includeConfig 'conf/base.config'

/* choose where and how to run pipeline, can choose to run local ,  slurm , gcp or aws  */
/* for debugging or test run use test profile */

profiles {
  local {
    process.executor = 'local'
    docker.enabled   = true
  }

  slurm {
    includeConfig 'conf/slurm.config'
  }

  aws {
    includeConfig 'conf/aws.config'
  }

  gcp {
    includeConfig 'conf/gcp.config'
  }

  test {
    params.max_cpus   = 2
    params.max_memory = '4 GB'
    params.max_time   = '1h'
  }

 /* docker is enabled and forced against singularity - disable if you dont want to use docker */
  docker {
    docker.enabled   = true
    singularity.enabled = false
  }
}
