params.outdir     = params.outdir ?: 'results'
params.max_cpus   = params.max_cpus ?: 8
params.max_memory = params.max_memory ?: '32 GB'
params.max_time   = params.max_time ?: '24h'

process {
  cpus   = { checkMax( 2, params.max_cpus  ) }
  memory = { checkMax( '4 GB', params.max_memory ) }
  time   = { checkMax( '2h', params.max_time ) }

  withName: MAKE_STAR_INDEX {
    cpus   = { checkMax( 8, params.max_cpus  ) }
    memory = { checkMax( '30 GB', params.max_memory ) }
    time   = { checkMax( '24h', params.max_time ) }
  }

  withName: STAR_ALIGN {
    cpus   = { checkMax( 8, params.max_cpus  ) }
    memory = { checkMax( '24 GB', params.max_memory ) }
    time   = { checkMax( '24h', params.max_time ) }
  }

  withName: FEATURECOUNTS {
    cpus   = { checkMax( 8, params.max_cpus  ) }
    memory = { checkMax( '8 GB', params.max_memory ) }
    time   = { checkMax( '8h', params.max_time ) }
  }
}

docker.enabled      = false
singularity.enabled = false

// Let Nextflow copy to outdir as files are produced
publishDir.mode = 'copy'

// Utility to cap resource requests
def checkMax(requirement, limit) {
  return requirement
}
