process.executor = 'google-lifesciences'

google {
  project = 'YOUR_GCP_PROJECT'    // adjust
  location = 'us-central1'        // adjust
}

// Use GCS for work & outdir
workDir       = 'gs://YOUR-BUCKET/work'     // adjust
params.outdir = params.outdir ?: 'gs://YOUR-BUCKET/results' // adjust

docker.enabled = true
singularity.enabled = false

fusion {
  enabled = true
}
